* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 2px solid black;
    // font-family: 'Roboto', sans-serif;
}

footer 
{
    // height: 800px;
    .footer
    {
        background-color: #37475A;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        &:hover 
        {
            background-color: #485769;
        }

        center 
        {
            a 
            {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .main__footer
    {
        background-color: #232F3E;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        border-bottom: 1px solid #3a4553;
        // margin-top: 40px;
        .main
        {
            display: flex;
            gap: 10rem;
            .get 
            {
                display: grid;
                padding-top: 50px;
                h4 
                {
                    color: #fff;
                    font-size: 20px;
                }

                .a1
                {
                    display: grid;
                    align-items: center;
                    a 
                    {
                        text-decoration: none;
                        color: #DDD;
                        &:hover 
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .make__money 
            {
                display: grid;
                padding-top: 50px;
                line-height: 30px;
                h4 
                {
                    color: #fff;
                    font-size: 20px;
                }

                .a2
                {
                    display: grid;
                    a 
                    {
                        text-decoration: none;
                        color: #DDD;
                        &:hover 
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .amazon__payment
            {
                display: grid;
                padding-top: 50px;
                h4 
                {
                    color: #fff;
                    font-size: 20px;
                }

                .a3
                {
                    display: grid;
                    a 
                    {
                        text-decoration: none;
                        color: #DDD;
                        &:hover 
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .help
            {
                display: grid;
                padding-top: 50px;
                h4 
                {
                    color: #fff;
                    font-size: 20px;
                }

                .a4
                {
                    display: grid;
                    a 
                    {
                        text-decoration: none;
                        line-height: 20px;
                        color: #DDD;
                        &:hover 
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .image
    {
        background-color: #232F3E;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .div1
        {
            // display: flex;
            // justify-content: center;
            img
            {
                height: 70px;
                width: 120px;
            }
        }

        .div2
        {
            display: flex;
            gap: 40px;
            align-items: center;
            .select1
            {
                border: 1px solid #DDD;
                width: 150px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                gap: 20px;
                cursor: pointer;
                height: 50px;
                .world__icon
                {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }

                .angle__icon
                {
                    display: grid;
                    gap: 1.5px;
                }
            }

            .select2
            {
                border: 1px solid #DDD;
                width: 150px;
                height: 50px;
                padding: 9px;
                border-radius: 5px;
                cursor: pointer;
            }

            .select3
            {
                display: flex;
                justify-content: center;
                cursor: pointer;
                border: 1px solid #999;
                border-radius: 5px;
                width: 180px;
                height: 50px;
                padding: 10px;
                gap: 10px;
                img 
                {
                    width: 40px;
                    height: 25px;
                }

                p 
                {
                    color: #999;
                }
            }
        }
    }

    .last__footer
    {
        background-color: #131A22;
        border-top: 1px solid #3a4553;
        height: 800px;
        padding: 60px;
        table 
        {
            width: 100%;
            border-collapse: collapse;
            
            tbody 
            {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;  
                
                tr 
                {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    margin-top: 70px;
                    .navFooterDescItem
                    {
                        font-size: 12px!important;
                        padding: 0 0.75em;
                        vertical-align: top;
                        text-align: left;
                        line-height: 115%;

                        .nav_a 
                        {
                            font-weight: 600;
                        }

                        a 
                        {
                            color: #DDD;
                            text-decoration: none;
                            white-space: normal;
                            font-size: 1.0em;
                            line-height: 1rem;
                            &:hover
                            {
                                text-decoration: underline;
                                text-decoration-color: #999;
                            }

                            span 
                            {
                                color: #999;
                            }


                        }
                    }

                    .navFooterDescSpacer
                    {
                        font-family: inherit;
                        font-size: 13px;
                        line-height: 120%;
                        padding: 0 10px;
                    }
                }
            }
        }

        .navFooterMoreOnAmazon
        {
            max-width: 1000px;
            margin: 0 auto;
        }

        .navFooterLine
        {
            font-size: 15px;
            font-family: inherit;
            color: #DDD;

            ul 
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 0 0 18px;
                padding: 10px;
                color: #0F1111;
                gap: 30px;

                li 
                {
                    list-style: none;

                    a 
                    {
                        text-decoration: none;
                        color: #DDD;
                        white-space: normal;
                        padding: 0 0.6em;
                    }
                }
            }

            span 
            {
                text-align: center;
            }
            
        }

        .navFooterCopyright
        {
            background-color: #131A22;
            max-width: 100%;
            margin: 0;
            padding: 10px 0 30px;        
        }

        .navFooterPadItemLine {
            text-align: center;
        }
    }
}

